.chart-plot-background {
  -fx-border-width: 8px;
  -fx-border-color: black;
}

.axis {
   -fx-tick-length: 15px;
}

.axis-tick-mark {
   -fx-stroke: green;
   -fx-stroke-width: 4px;
}

.axis-minor-tick-mark {
    -fx-stroke: green;
}

.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 20px;
}

.chart-legend-item-symbol {
    -fx-background-radius: 10 10 10 10;
    -fx-background-radius: 5px;
}

.chart-legend-item {
    -fx-text-fill: #191970;
}

.chart-series-line {
    -fx-stroke: null;
}